.menu1{
    
  
    color:#686969;
  
}
.sect1
{   
  position:sticky;
   margin-top: 150px;


}

.linea
{
   height: 5px;
}
.b1{
    padding-left: 15px;
    padding-top: 0px;
    font-size: 20px;
    
}